<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites | Jasmeé Flowers</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

<header>
    <a href="{{ url_for('index') }}" class="logo">Jasmeé<span>.</span></a>
    <input type="checkbox" id="toggler" style="display: none;">
    <label for="toggler" class="fas fa-bars"></label>
    
    <nav class="navbar">
        <a href="{{ url_for('index') }}#home">home</a>
        <a href="{{ url_for('index') }}#about">about</a>
        <a href="{{ url_for('index') }}#products">products</a>
        <a href="{{ url_for('index') }}#contact">contact</a>
    </nav>

    <div class="icones">
        <a href="#" class="fas fa-heart"></a>
    </div>
</header>

<h1 class="heading">Your <span>Favorites</span></h1>

<section class="products">
    <div class="bouquet-container" id="favoritesContainer"></div>
</section>

<!-- ملف الجافاسكريبت الرئيسي -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>





